/* Exercise 2a: Uber button 

#uber {
  height: 45px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
}

#uber:hover {
  cursor: pointer;
  opacity: 0.8;
}
*/

/* Exercise 2b: Amazon "Add to Cart" button 

#amazon {
  background-color: rgb(255, 225, 91);

  border: none;
  border-radius: 15px;

  padding: 5px 35px;
  font-weight: 700;
  cursor: pointer;
}
*/

/* Ex 2c: Github */

#github {
  height: 35px;
  width: 80px;

  background-color: rgb(49, 177, 81);
  border: none;
  border-radius: 5px;
  padding: 10 20px;

  color: white;
  font-weight: 700;
}

/* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
#github:hover {
  cursor: pointer;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.5);
}


/* Bootstrap 

#get-started {
  background-color: rgb(121, 82, 179);
  border: none;
  border-radius: 4px;
  padding: 5px 10px;

  height: 40px;
  width: 100px;
  font-weight: 700;
  color: white;
}

#download {
  height: 40px;
  width: 100px;

  background-color: white;
  border: 1px solid rgb(108, 117, 125, 0.5);
  border-radius: 4px;

  font-weight: 700;
  color: rgb(108, 117, 125);
}*/